@model IEnumerable<SAT.DATA.EF.StudentStatus>

@{
    ViewBag.Title = "Student Status";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../../Content/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">@ViewBag.Title</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("Index", "Home")">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>@ViewBag.Title<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SSName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SSName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SSID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SSID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SSID })
        </td>
    </tr>
}

</table>
